<table>
    <tr>
        <td>Name </td>
        <td>Sectors </td>
        <td>Agreed? </td>
    </tr>
    <tr tpl-foreach="$book as $line">
            <td>{{$line->name}} </td>
            <td>{{$line->sectors}} </td>
            <td>{{$line->agreed}}</td>


    </tr>
</table>
