<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>{{$title}}</title>

</head>
<body>
<h1 id="menu a"> {{$title}} </h1>

<div id="menu">
    <a   href="?cmd=nimekiri" id="list-page-link" >Nimekiri</a> | <a href="?cmd=lisa" id="add-page-link">Lisa </a>
</div>

<div id="content" tpl-include="{{ $template }}"></div>




<p id="footer">Rakendus 2018</p>
</body>
</html>