td {
	font-size: 17px;
	font-family: "Verdana";
	color: purple;
}


#menu {
    border: 2px solid #ddd;
    background-color: #eee;
    padding: 0.5em;
}
[name="submit-button"] {
    background-color: green;
}

#list-page-link {
    color: pink;
    font-family: "Verdana";
    font-size: 20px;
}

#add-page-link {
    color: pink;
    font-family: "Verdana";
    font-size: 20px;

}

#footer {
    color: green;
    font-family: "Arial";
    font-size: 10px;
}